---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
  font-family: 'Red Hat Text', sans-serif;
}

h1, h1 *,
h2, h2 *,
h3, h3 * {
  font-family: 'Red Hat Text', sans-serif;
}

a {
  color: #0166CC;
}

body {
  padding: 0;
}

.wrapper {
  width: initial;
  overflow: hidden;
}

header {
  width: 100%;
  position: initial;
  float: initial;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 0;
  float: initial;
}

section * {
  word-break: break-word;
}

section > * {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}

section > ul, section > ol {
  width: calc(100% - 65px);
}

section > blockquote {
  width: calc(100% - 80px);
}

td, th {
  min-width: 92px;
}

footer {
  position: relative;
  background: black;
  color: white;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
}
